<div class="general">
  <div class="contenedor">
    <h2>Informática y Tecnología</h2>
    <p>La informática y la tecnología están cada vez más presente en nuestras vidas y son un sector que sigue en constante expansión,
      por lo que cada vez se necesitan más técnicos que cubran la demanda que requieren diferentes campos dentro y fuera del sector. Según el Informe Adecco de Empleabilidad y Formación Profesional publicado el último trimestre de 2013,
      el 21% de las ofertas de empleo en España buscan titulados en FP con una tendencia estable en los últimos años. El sector de la Informática representa el 8.5% de la demanda de empleo. Según datos actualizados de Infojobs, la distribución de las ofertas de empleo de FP más demandadas por categoría profesional son Informática y Telecomunicaciones (35%).</p>
    <div class="banner"></div>
    <p>Prepárate para convertirte en un experto de las nuevas tecnologías. Si quieres ligar tu futuro a la programación de aplicaciones
      web, a la de técnico de reparación de ordenadores o al montador de servidores locales, sin duda éste es el punto de       partida que necesitas.</p>
    <div class="curso" id="curso1">
      <div class="img_curso">
        <img src="../../assets/app.png">
      </div>
      <h3>Curso Programación IOS</h3>
      <p>A lo largo de este curso se irá creando desde cero una aplicación para IOS hasta llegar a subirla a la Appstore.</p>
      <p>Consta de una duración de tres meses, 80 horas lectivas.</p>
      <p><a href="http://www.avanzaentucarrera.com/curso/curso-online-de-programacion-ios-con-swift-y-objective-c-para-iphone-y-ipad/232086" target="_blanck">Ver Curso</a></p>
    </div>

    <div class="curso" id="curso2">
      <div class="img_curso">
        <img src="../../assets/designer.png">
      </div>
      <h3>Programación de Videojuegos</h3>
      <p>Adquirir las competencias necesarias para ser capaz de crear todo tipo de videojuegos de manera sencilla y dinámica.</p>
      <p>Consta de una duración de 24 meses.</p>
      <p><a href="http://www.avanzaentucarrera.com/curso/curso-diseno-y-programacion-de-videojuegos-unreal-engine-4/187328">Ver Curso</a></p>
    </div>

    <div class="curso" id="curso3">
      <div class="img_curso">
        <img src="../../assets/euroinnova.png">
      </div>
      <h3>JQuery: Programación Web</h3>
      <p>Con este Curso Online JQuery: Programación Web el alumno aprenderá a programar en el lenguaje de programación más usado por desarrolladores de páginas y aplicaciones webs.</p>
      <p>Consta de una duración de 300 horas.</p>
      <p><a href="http://www.avanzaentucarrera.com/curso/curso-online-jquery-programacion-web/223714"  target="_blanck">Ver Curso</a></p>
    </div>

    <div class="curso" id="curso4">
      <div class="img_curso">
        <img src="../../assets/master.png">
      </div>
      <h3>Programación Web HTML/CSS</h3>
      <p>Aprender desde los conceptos básicos de la programación HTML y el diseño con hojas de estilo CSS hasta la creación de sitios web estáticos en base a diseños predefinidos y plantillas creadas.</p>
      <p>Duración a consultar.</p>
      <p><a href="http://www.avanzaentucarrera.com/curso/programacion-web-html-css/192686" target="_blanck">Ver Curso</a></p>
    </div>
  </div>
</div>
