.input-group{
    margin: 0% 1% 1% 23%;
    width: 54%;
}
.btn{
    border: 1px solid #3296b7;
    border-radius: 0px;
}
.form-control{
    border: 1px solid #3296b7;
    border-radius: 0px;
}
.contenedor{
    padding-top: 1%;
    background-color: #eee;
    min-height: 100%;
    position: absolute;
}
#boton{
    margin-left: 5%;
}