.general {
  background-color: #eee;
  padding: 20px;
}

.first_box {
  background-color: #b6c9d2;
  padding: 20px;
  width: 68%;
}

.second_box {
  background-color: #fff;
  width: 68%;
  margin-top: 15px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-right: 20px;
}

h2 {
  margin-top: 3px;
}
h4{
margin-top: 20px;

}

.logo_empresa {
  float: right;
}

.detalle {
  font-size: 14px;
  margin-left: 40px;
}

.Subtitulos {
  font-size: 14px;
  margin-left: 20px;
  margin-bottom: 4px;
}
.button{
        border-radius: 0px;
    width: 10%;
    border: 1px solid #eee;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 20px;
}

/*Estilos pop_up*/
.pop_up{
    background-color: rgba(7, 18, 25, 0.76);
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 2;
    min-height: 100%;
    
}
.fondo_popup{
    position: absolute;
    width: 50%;
    left: 23%;
    top: 31%;
    background-color: #fff;
    height: 20%;
}
.img_popup{
    background-image: url(../../assets/flecha.png);
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}   
.text_popup{
        margin: 61px;
}
 #ok {
     font-size: 30px;
     color: #3296b7;
}
#ok2{
    font-size: 18px;
}

.no-mostrar{
    display: none;
}
.mostrar{
    display: block;
}