<div class="general">
  <div class="first_box">
    <div class="logo_empresa">
      <img id="logo_empresa" src="{{oferta.imagenUrl}}" />
    </div>
    <div class="textos">
      <h2>{{oferta.puesto}}</h2>
      <ul>
        <li>{{oferta.nombreEmpresa}}</li>
        <li>Desde hace {{oferta.fecha}}</li>
        <li>{{oferta.lugar}}</li>
      </ul>
    </div>
  </div>
  <div class="second_box">
    <div>
      <h4><b>Requisitos</b></h4>
      <p class="Subtitulos"><b>Estudios mínimos</b></p>
      <p class="detalle">{{oferta.estudios}}</p>
      <p class="Subtitulos"><b>Experiencia mínima</b></p>
      <p class="detalle">{{oferta.experiencia}}</p>
      <p class="Subtitulos"><b>Habilidades necesarias</b></p>
      <p class="detalle">{{oferta.habilidades}}</p>
      <p class="Subtitulos"><b>Conocimientos necesarios</b></p>
      <p class="detalle">{{oferta.skills}}</p>

      <h4><b>Descripción</b></h4>
      <p>{{oferta.descripcion}}</p>
      <p class="Subtitulos"><b>Número de vacantes</b></p>
      <p class="detalle">{{oferta.vacantes}}</p>
      <p class="Subtitulos"><b>Duración del contrato</b></p>
      <p class="detalle">{{oferta.duracion}}</p>
      <p class="Subtitulos"><b>Salario</b></p>
      <p class="detalle">{{oferta.salario}}</p>
      <p class="Subtitulos"><b>Horario</b></p>
      <p class="detalle">{{oferta.horario}}</p>
    </div>
    <button class="button">Inscríbete</button>
    <button class="button">Editar</button>
  </div>
</div>
