<div>
  <div class="logo_empresa">
    <img id="logo_empresa" src="{{oferta.imagenUrl}}" />
  </div>
  <div>
    <h4>{{oferta.nombreEmpresa}}</h4>
    <ul>
      <li>{{oferta.puesto}}</li>
      <li>{{oferta.fecha}}</li>
      <li>{{oferta.lugar}}</li>
      <li>{{oferta.estudios}}</li>
      <li>{{oferta.experiencia}}</li>
      <li>{{oferta.skills}}</li>
      <li>{{oferta.descripcion}}</li>
      <li>{{oferta.vacantes}}</li>
      <li>{{oferta.duracion}}</li>
      <li>{{oferta.salario}}</li>
      <li>{{oferta.horario}}</li>
    </ul>
  </div>
  <button class="button">Inscríbete</button>
  <button class="button">Editar</button>
</div>
