<div class="general">
  <div class="first_box">
    <div class="logo_empresa">
      <img id="logo_empresa" src="{{oferta.imagenUrl}}" />
    </div>
    <div class="textos">
      <h2>{{oferta.puesto}}</h2>
      <ul>
        <li>{{oferta.nombreEmpresa}}</li>
        <li>Publicado hace {{oferta.fecha}}</li>
        <li>{{oferta.lugar}}</li>
      </ul>
    </div>
  </div>
  <div class="second_box">
    <div>
      <h4><b>Requisitos</b></h4>
      <p class="Subtitulos"><b>Estudios mínimos</b></p>
      <p class="detalle">{{oferta.estudios}}</p>
      <p class="Subtitulos"><b>Experiencia mínima</b></p>
      <p class="detalle">{{oferta.experiencia}}</p>
      <p class="Subtitulos"><b>Conocimientos necesarios</b></p>
      <p class="detalle">{{oferta.skills}}</p>

      <h4><b>Descripción</b></h4>
      <p>{{oferta.descEmpresa}}</p>
      <p>{{oferta.descripcion}}</p> 
      <p class="Subtitulos"><b>Número de vacantes</b></p>
      <p class="detalle">{{oferta.vacantes}}</p>
      <p class="Subtitulos"><b>Duración del contrato</b></p>
      <p class="detalle">{{oferta.duracion}}</p>
      <p class="Subtitulos"><b>Salario</b></p>
      <p class="detalle">{{oferta.salario}}</p>
      <p class="Subtitulos"><b>Horario</b></p>
      <p class="detalle">{{oferta.horario}}</p>
    </div>
    <button class="button" [disabled]="!bloquear" (click)="inscribirse()">Inscríbete</button>
    <button class="button" (click)="irFormularioAdm()" [disabled]="!bloquear">Editar</button>
    <button class="button" type="button" (click)="eliminar()" [disabled]="!bloquear">Eliminar</button>
    <button class="button" type="button" (click)="bloquearOferta()">Bloquear</button>
  </div>
</div>
<a href="lista-ofertas" [ngClass]="{'no-mostrar': !mostrado, 'mostrar': mostrado}" class="pop_up">
  <div class="fondo_popup" >
    <div class="img_popup"></div>
    <div class="text_popup">
      <h2 id="ok">Registro Completado</h2>
      <p id="ok2">Pulsa en cualquier zona para continuar</p>
    </div>
  </div>
</a>
