<div>
  <div>
    <img class="logo_empresa" src="{{oferta.imagenUrl}}" />
  </div>
  <div>
    <h2>{{oferta.nombreEmpresa}}</h2>
    <ul>
      <li>{{oferta.puesto}}</li>
      <li>{{oferta.fecha}}</li>
    </ul>
    <ul>
      <li>{{oferta.salario}}</li>
      <li>{{oferta.lugar}}</li>
    </ul>
    <button class="button">INSCRIBIRME A ESTA OFERTA</button>
    <h4>Requisitos</h4>
    <ul>
      <li>{{oferta.estudios}}</li>
      <li>{{oferta.experiencia}}</li>
      <li>{{oferta.skills}}</li>
    </ul>
    <h4>Descripción</h4>
    <ul>
      <li>{{oferta.descripcion}}</li>
      <li>{{oferta.vacantes}}</li>
      <li>{{oferta.horario}}</li>
      <li>{{oferta.duracion}}</li>
    </ul>
    <button class="button">INSCRIBIRME A ESTA OFERTA</button>
  </div>
</div>