<div class="general">
  <div class="contenedor">
    <h2>Quiénes somos</h2>
    <p>Gracias a Fundación Telefónica y a su iniciativa para la formación de empleo, ha sido posible la creación de E-mpléate.</p>
    <p>E-mpléate es una plataforma de búsqueda de empleo dónde cualquier usuario o empresa puede encontrar el puesto o trabajador deseado.</p>

    <video class="video" width="50%" height="50%" autoplay controls>
        <source src="../../assets/empleate.mp4">
    </video>
    <p>Este trabajo ha sido posible gracias a los cuatro integrantes que formamos E-mpléate. Somos un grupo de personas que venimos de mundos muy distintos, pero que, gracias a nuestro esfuerzo, hemos conseguido grandes progresos.</p>
    <div class="curso" id="curso1">
      <div class="img_curso">
        <img src="../../assets/gema.png">
      </div>
      <div class="textos">
        <h3>Gema de Andrés</h3>
        <p>Economista. Ampliando fronteras.</p>
        <p><a href="https://www.linkedin.com/in/gemadeandresfernandez" target="_blank">Ver Perfil</a></p>
      </div>
    </div>
    <div class="curso" id="curso2">
      <div class="img_curso">
        <img src="../../assets/carol.png">
      </div>
      <div class="textos">
        <h3>Carolina Orellana</h3>
        <p>Maestra de Educación Infantil y maquetadora/diseñadora de cursos e-learning.</p>
        <p><a href="https://www.linkedin.com/in/carolinaorellana" target="_blank">Ver Perfil</a></p>
      </div>
    </div>
    <div class="curso" id="curso3">
      <div class="img_curso">
        <img src="../../assets/alvaro.png">
      </div>
      <div class="textos">
        <h3>Álvaro Aguilar</h3>
        <p>Periodista y curioso de la programación.</p>
        <p><a href="https://www.linkedin.com/in/alvaroaguilarhervas" target="_blank">Ver Perfil</a></p>
      </div>
    </div>
    <div class="curso" id="curso4">
      <div class="img_curso">
        <img src="../../assets/cris.png">
      </div>
      <div class="textos">
        <h3>Cristina Isaba</h3>
        <p>Bloguera y economista. Abierta al mundo digital.</p>
        <p><a href="https://www.linkedin.com/in/cristinaisaba" target="_blank">Ver Perfil</a></p>
      </div>
    </div>
  </div>
</div>
