<div class="general">
  <div class="contenedor">
    <h2>Quiénes somos</h2>
    <p>Descripción del curso y de cómo hemos llegado aquí.</p>
    <div class="banner"></div>
    <p>Prepárate para convertirte en un experto de las nuevas tecnologías. Si quieres ligar tu futuro a la programación de aplicaciones web, a la de técnico de reparación de ordenadores o al montador de servidores locales, sin duda éste es el punto de partida que necesitas.</p>
    <div class="curso" id="curso1">
      <div class="img_curso">
        <img src="">
      </div>
      <h3>Gema de Andrés</h3>
      <p></p>
      <p><a href="https://www.linkedin.com/in/gemadeandresfernandez">Ver Perfil</a></p>
    </div>
    <div class="curso" id="curso2">
      <div class="img_curso">
        <img src="">
      </div>
      <h3>Carolina Orellana</h3>
      <p></p>
      <p><a href="https://www.linkedin.com/in/carolinaorellana">Ver Perfil</a></p>
    </div>
    <div class="curso" id="curso3">
      <div class="img_curso">
        <img src="">
      </div>
      <h3>Álvaro Aguiñar</h3>
      <p></p>
      <p><a href="https://www.linkedin.com/in/alvaroaguilarhervas">Ver Perfil</a></p>
    </div>
    <div class="curso" id="curso4">
      <div class="img_curso">
        <img src="">
      </div>
      <h3>Cristina Isaba</h3>
      <p></p>
      <p><a href="https://www.linkedin.com/in/cristinaisaba">Ver Perfil</a></p>
    </div>
  </div>
</div>

