.general{
    min-height: 100%;
    min-width: 100%;
    background-color: #eee;
    padding-left: 16%;
    padding-top: 1%;
    padding-bottom: 5%;
    position: absolute;
}
 .contenedor{
    background-color: #fff;
    width: 75%;
    padding: 2%;
    min-height: 75%;
    position: absolute;
 } 
 .banner{
    width: 100%;
    height: 85px;
    margin-bottom: 1%;
    background-image: url(../../assets/banner.png);
    background-repeat: no-repeat;
    margin-left: 11%;
    margin-top: 10px;
 }
 .curso{
    width: 48%;
    padding: 2%;
    margin: 1%;
    
 } 
 #curso1{
     float:left;
 } 
 #curso2{
     float:right;
 } 
 #curso3{
     float:left;
 } 
 #curso4{
     float:right;
 } 
 h2{
    font-size: 28px;
    margin-top: 0px;
    color: #099bbc;
 }
 h3 {
     font-size: 24px;
 }
 p{
     margin: 0px;
 }
 .textos{
    float: right;
    width: 65%;
 }
 .img_curso{
    width: 150px;
    height: 150px;
    float: left;
 }
 .video{
    margin-left: 20%;
    margin-bottom: 2%;
    margin-top: 2%;
 }