<nav class="navbar navbar-default">
  <div class="container-fluid row">
    <a [routerLink]="['home']">
      <img class="logo_empleate" src="../../assets/Logo_empleate.png">
    </a>
    <div class="navbar-header col-md-3">
      <a class="navbar-brand" href ='lista-ofertas'>Ofertas de empleo</a>
    </div>
    <div class="col-md-9" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['formacion']">Cursos</a></li>
        <li><a [routerLink]= "['quienes-somos']">Quiénes somos</a></li>
        <li id="registro"><a [routerLink]="['formulario']">Regístrate</a></li>
      </ul>
    </div>
  </div>
</nav>