/*Estilo caja navegacion*/
.navbar-default {
    background-color: #fff;
    border: none;
}
.row{
    margin-right: 0px;
    padding-right: 0px;
}
.navbar {
    margin-bottom: 0px;
}
 
/*Estilo Nuestro logo*/
.logo_empleate{
    width: 20%;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
}
/*Estilo boton Ofertas trabajo*/
.navbar-header {
    clear: both;
    border: 1px solid #000;
    margin-top: 10px;
    width: 21%;
    background-color: #3296b7;
}
.navbar-header:hover {
    clear: both;
    border: 1px solid #000;
    margin-top: 10px;
    width: 21%;
    background-color: #fff;
}
.navbar-default .navbar-brand {
    color: #fff;
    width: 113%;
    font-size: 20px;
}
.navbar-default .navbar-brand:hover {
    color: #3296b7;
}
/*Estilos botones navegacion*/   
#bs-example-navbar-collapse-1{
    float: left;
    width: 79%;
    margin-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
ul{
    min-width: 100%;
    background: #3296b7;
}
.nav > li{
    border: 1px solid #3296b7;
    background-color: #a3ccda;
    font-size: 19px;
    width: 18%;
    text-align: center;
}
.nav > li:hover{
    border: 1px solid #3296b7;
    background-color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #3296b7;
}
#registro{
    float: right;
}