<nav class="navbar navbar-default">
  <div class="container-fluid row">
    <a [routerLink]="['home']">
      <img class="logo_empleate" src="../../assets/Logo_empleate.png">
    </a>
    <div class="navbar-header col-md-3">
      <a class="navbar-brand" [routerLink] ="['lista-ofertas']">Ofertas de empleo</a>
    </div>
    <div class="col-md-7" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['formulario']">Regístrate</a></li>
        <li><a [routerLink]="['formacion']">Cursos</a></li>
        <li><a [routerLink]= "['quienes-somos']">Quiénes somos</a></li>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." #input>
          <span class="input-group-btn">
              <button class="btn btn-default" type="button">Buscar</button>
            </span>
        </div>
      </ul>
    </div>
  </div>
</nav>