/* You can add global styles to this file, and also import other style files */
html{
    position: relative; 
    min-height: 100%;
}
body{
    margin-bottom: 0px;
}
footer
{
    width: 100%;
    bottom: 0;
    position: absolute;
    height: 65px;
}