
<button name="usuario" type="button" class="btn btn-info" (click)="cambiarUsuario(true)" >Usuario</button>
<button name="empresa" type="button" class="btn btn-info" (click)="cambiarUsuario(false)" >Empresa</button>
<hr>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" id="formulario1" *ngIf="usuario==true">
<div>
  <h3>Datos personales</h3>
<div class="form-group">
<label for="nombre">Nombre</label>
<input type="text" class="form-control" id="nombre" name="nombre">
</div>
<div class="form-group">
<label for="nombre">Apellidos</label>
<input type="text" class="form-control" id="apellido" name="apellido">
</div>
<h3>Datos de la cuenta</h3>
<div class="form-group">
<label for="email">E-Mail</label>
<input type="text" class="form-control" id="email" name="email">
</div>
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" class="form-control" id="password" name="password" pattern
="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-
9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
</div>
<button type="submit" class="btn btn-primary" >Enviar</button>

</form>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" id="formulario2" *ngIf="usuario==false">
<div>
  <h3>Datos empresa</h3>
<div class="form-group">
<label for="nombre">Nombre</label>
<input type="text" class="form-control" id="nombre" name="nombre">
</div>
<div class="form-group">
<label for="nombre">Apellidos</label>
<input type="text" class="form-control" id="apellido" name="apellido">
</div>
<h3>Datos de la cuenta</h3>
<div class="form-group">
<label for="email">E-Mail</label>
<input type="text" class="form-control" id="email" name="email">
</div>
</div>
<div class="form-group">
<label for="password">Password</label>
<input type="password" class="form-control" id="password" name="password" pattern
="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-
9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
</div>
<button type="submit" class="btn btn-primary" >Enviar</button>
</form>