<div class="general_cont">
<div class="contenedor">
  <button name="usuario" type="button" class="btn btn-info" (click)="cambiarUsuario(true)">Accede</button>
  <button name="empresa" type="button" class="btn btn-info" (click)="cambiarUsuario(false)">Alta Candidato/Empresa</button>

  <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="formulario1" *ngIf="usuario==true">
    <div class="content_general">
      <div class="cajita">
        <h3>Accede con tus datos</h3>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="text" class="form-control" id="email" name="email">
        </div>
      </div>
      <div class="cajita">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-
9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
        </div>
      </div>
      <button id="btn_acceso" type="submit" class="btn btn-primary">Entra ya</button>
    </div>
  </form>
  <form (ngSubmit)="onSubmit(f)" #f="ngForm" id="formulario2" *ngIf="usuario==false">
    <div class="content_general">
      <div class="cajita">
        <h3>Datos Candidato/Empresa</h3>
        <div class="form-group">
          <label for="nombre">Nombre Candidato/Empresa</label>
          <input type="text" class="form-control" id="nombre" name="nombre" placeholder="ej: Patricia / Empléate">
        </div>
      </div>
      <div class="cajita">
        <div class="form-group">
          <label for="nombre">NIF/CIF</label>
          <input type="any" class="form-control" id="identificacion" name="identificacion" placeholder="ej: 51978362G / A58818501">
        </div>
      </div>
      <div class="cajita">
        <h3>Datos de la cuenta</h3>
        <div class="form-group">
          <label for="email">E-Mail</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="tucorreo@mail.com">
        </div>
      </div>
      <div class="cajita">
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-
9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?" required>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
</div>
<a href="lista-ofertas" class="pop_up">
  <div class="fondo_popup">
    <div class="img_popup"></div>
    <div class="text_popup">
      <h2 id="ok">Registro Completado</h2>
      <p id="ok2">Pulsa en cualquier zona para continuar</p>
    </div>
  </div>
</a>

