<div class="contenedor">
  <div class="list-group">
    <a class="list-group-item active">
      <a [routerLink]="['/oferta-detallada', index]">
      <div class="logo_empresa">
        <img id="logo_empresa" src="{{oferta.imagenUrl}}" />
      </div>
      <div class="desc_corta_empresa">
        <h4 class="list-group-item-heading">{{oferta.puesto}}</h4>
        <ul class="list-group-item-text">
          <li><b>{{oferta.nombreEmpresa}}</b></li>
          <li><b>Hace {{oferta.fecha}}</b></li>
          <li><b>Skills: {{oferta.skills}}</b></li>
        </ul>
      </div>
      </a>
      <button id="boton_eliminar" type="button" (click)="eliminar()" [disabled]="!bloquear"><img src="../../assets/papelera.png"></button>
      <button id="bloqueo" type="button" (click)="bloquearOferta()"><img src="../../assets/bloquear.png"></button>
      <button id="boton_editar" type="button" [disabled]="!bloquear" (click)="irFormularioAdm()"><img src="../../assets/editar.png"></button>
    </a>
  </div>
</div>