.logo_empresa{
    width: 15%;
    height: 100px;
    display: inline-block;
    margin: 0px;
}
#logo_empresa{
    width: 100%;
}
.desc_corta_empresa{
    float: right;
    position: relative;
    right: 60%;
    margin-top: 1%;
}
.list-group-item.active{
    z-index: 2;
    color: #3296b7;
    background-color: #ffffff;
    border: 1px solid #3296b7;
    margin-left: 10px;
    margin-right: 10px;
}
.list-group-item.active:hover{
    z-index: 2;
    color: #ffffff;
    background-color: #97c3d2;
    border: 1px solid #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}
.list-group-item.active .list-group-item-text{
    color: #333;
}
