.jumbotron{
    background-image: url(../../assets/imagen_home.png);
    background-repeat: no-repeat;
    height: 685px;
}
.titulo{
    text-align: center;
}
.parrafo{
    text-align: center;
}
.btn-lg{
    margin-left: 46%;
}